{% extends 'layout/main.twig.html' %}

{% block title %}
    Add user
{% endblock %}

{% block body %}
    <section>
        <header>
            <h1>Add user</h1>
        </header>
        <div id="event-create-container" class="col-md-6 offset-md-3">
            <!--Notice-->
            <form action="http://127.0.0.1/Project/add" method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="addF_name" title="First name">First name</label>
                            <input type="text" name="addF_name" id="addF_name" title="First name" class="form-control" placeholder="First name" autofocus="" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="addL_name" title="Last name">Last name</label>
                            <input type="text" name="addL_name" id="addL_name" title="Last name" class="form-control" placeholder="Last name" required>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="addCpf" title="CPF">CPF</label>
                    <input type="text" name="addCpf" id="addCpf" maxlength="11" title="CPF" class="form-control" placeholder="CPF" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="addEmail" title="Email">E-mail</label>
                    <input type="email" name="addEmail" id="addEmail" title="Email" class="form-control" placeholder="E-mail" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="addPass" title="Password">Password</label>
                    <input type="password" name="addPass" id="addPass" title="Password" class="form-control" placeholder="Password" required>
                </div>
                <br>
                <div class="form-group">
                    <label title="Gender">Gender</label>
                    <p>
                        <input type="radio" name="addGender" class="check" id="fem" title="Feminine" value="Feminine">
                        <label for="fem" title="Feminine">Feminine</label>
                    
                        <input type="radio" name="addGender" class="check" id="male" title="Male" value="Male">
                        <label for="male" title="Male">Male</label>
                    
                        <input type="radio" name="addGender" class="check" id="others" title="Others" value="Others">
                        <label for="others" title="Others">Others</label>
                    </p>
                </div>
                <br>
                <div class="form-group">
                    <label title="Ethnicity">Ethnicity</label>
                    <p>
                        <input type="radio" name="addEth" class="check" id="am" title="Amerindian" value="Amerindian">
                        <label for="am" title="Amerindian">Amerindian</label>
                    
                        <input type="radio" name="addEth" class="check" id="asian" title="Asian" value="Asian">
                        <label for="asian" title="Asian">Asian</label>
                    
                        <input type="radio" name="addEth" class="check" id="black" title="Black" value="Black">
                        <label for="black" title="Black">Black</label>

                        <input type="radio" name="addEth" class="check" id="cb" title="Caboclo" value="Caboclo">
                        <label for="cb" title="Caboclo">Caboclo</label>

                        <input type="radio" name="addEth" class="check" id="cf" title="Cafuzo" value="Cafuzo">
                        <label for="cf" title="Cafuzo">Cafuzo</label>

                        <input type="radio" name="addEth" class="check" id="cc" title="Caucasian" value="Caucasian">
                        <label for="cc" title="Caucasian">Caucasian</label>

                        <input type="radio" name="addEth" class="check" id="mu" title="Mulato" value="Mulato">
                        <label for="mu" title="Mulato">Mulato</label>
                    </p>
                </div>
                <br>
                <div class="form-group">
                    <label for="Birthday" title="Birthday date">Birthday date</label>
                    <input type="date" name="addBirthday" id="iBirthday" title="Birthday date" class="form-control" required>
                </div>
                <br>
                <div class="form-group">
                    <input type="file" id="iImg" name="addImg[]" multiple class="form-control-file">
                </div>
                <br>
                <div class="form-group">
                    <p>Message</p>
                    <textarea name="addMsg" cols="104" rows="7" id="addMsg" placeholder="User message"></textarea>
                </div>
                <br>
                <input type="submit" class="btn btn-primary" title="Register user" value="Register user">
            </form>
            <br>
            <a href="http://127.0.0.1/Project/dashboard">
                <input type="submit" class="btn btn-primary" title="Return" value="Return">
            </a>
        </div>
    </section>
{% endblock %}