{% extends 'layout/main.twig.html' %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    <section>
        <header>
            <h1>Dashboard page</h1>
        </header>
        <div class="col-md-10 offset-md-1 dashboard-title-container">
            <h1>Users list</h1>
        </div>
        <div class="col-md-10 offset-md-1 dashboard-events-container">
            {% if users|length > 0 %}
                <table class="table">
                    <tr>
                        <thead>
                            <th scope="col">#</th>
                            <th scope="col">Usernames</th>
                            <th scope="col">Email</th>
                            <th scope="col">Image</th>
                            <th scope="col">Actions</th>
                        </thead>
                    </tr>
                    <tbody>
                        {% for u in users %}
                            <tr>
                                <td scope="row">{{num++}}</td>
                                <td>{{u.firstName}} {{u.lastName}}</td>
                                <td>{{u.email}}</td>
                                <td>
                                    <img src="../../assets/storage/public/img/{{u.image}}" class="img-fluid" width="81" height="81" title="{{u.firstName}} {{u.lastName}}" alt="{{u.firstName}} {{u.lastName}}">
                                </td>
                                <td>
                                    <a href="http://127.0.0.1/Project/edit/{{u.id_user}}" title="Edit user" class="btn btn-info edit-btn">
                                        <ion-icon name="create-outline"></ion-icon> Edit
                                    </a>
                                    <a href="http://127.0.0.1/Project/edit/{{u.id_user}}" title="Delete user" class="btn btn-danger delete-btn">
                                        <ion-icon name="trash-outline"></ion-icon> Delete
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>Você ainda não tem eventos, <a href="http://127.0.0.1/Project/addForm">Add users</a></p>
            {% endif %}
        </div>
    </section>
{% endblock %}