{% extends 'layout/main.twig.html' %}

{% block title %}
    {{name}} {{surname}}
{% endblock %}

{% block body %}
    <section>
        <header>
            <h1>{{name}} {{surname}}</h1>
        </header>
        <div id="vacancy-create-container" class="col-md-6 offset-md-3">
            <form action="http://127.0.0.1/Project/edit/{{id}}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="id" id="id" value="{{id}}">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="upF_name" title="First name">First name</label>
                            <input type="text" name="upF_name" id="upF_name" title="First name" value="{{firstName}}" class="form-control" placeholder="First name" required>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label for="upF_name" title="Last name">Last name</label>
                            <input type="text" name="upL_name" id="upL_name" title="Last name" value="{{lastName}}" class="form-control" placeholder="Last name" required>
                        </div>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label for="upEmail" title="Email">E-mail</label>
                    <input type="email" name="upEmail" id="upEmail" title="Email" value="{{email}}" class="form-control" placeholder="E-mail" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="upPass" title="Password">Password</label>
                    <input type="password" name="upPass" id="upPass" title="Password" class="form-control" placeholder="Password" required>
                </div>
                <br>
                <div class="form-group">
                    <input type="file" id="upImg" name="upImg[]" multiple class="form-control-file">
                </div>
                <br>
                <div class="form-group">
                    <p>Message</p>
                    <textarea name="atMsg" cols="104" rows="7" id="atMsg" placeholder="User message">{{message}}</textarea>
                </div>
                <br>
                <input type="submit" class="btn btn-primary" title="Update user" value="Update user">
            </form>
            <br>
            <a href="http://127.0.0.1/Project/dashboard">
                <input type="submit" class="btn btn-primary" title="Return" value="Back to panel">
            </a>
        </div>
    </section>
{% endblock %}